# FastAPI web framework and server
fastapi
uvicorn[standard]

# Milvus client
pymilvus==2.6.1

# HTTP requests to other services (vLLM, TEI)
requests


pydantic==2.8.2


# LangChain dependencies
langchain
langchain-community
langchain-milvus
langchain-openai
ragas
datasets
langchain-google-genai
google-generativeai

numpy 
scikit-learn            